mixin method(anchor, name)
  li
    = "- "
    a(href=anchor)= name


mixin descr-method(anchor, name, code, alias)
  p(id=anchor)
    a.header(href='#' + anchor) #{name}
    code #{code}
    if alias
      code.alias #{alias}
    else
      br
    block
