mixin method(anchor, name)
  li
    a(href=anchor)= name


mixin descr-method(anchor, name, code, alias, shorthand)
  p(id=anchor)
    a.header(href='#' + anchor) #{name}
    code #{code}
    if alias
      code.alias #{alias}
    if shorthand
      code.shorthand #{shorthand}
    if !alias && !shorthand
      br
    block
